body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: darkblue;
}

.notification {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}